.dashboard-home {
  background-color: #dee5ed;
  height: 125vh;
  overflow: scroll;
  &-sectiontitle {
    font-size: 1rem;
    font-weight: normal;
  }
  &-agenda {
    background-color: #fff;
    border-radius: 15px;
    padding: 1.5rem;
    overflow: scroll;
    height: 540px;
    .agenda-card {
      border-radius: 15px;
      padding: 0.6rem;
      &-date {
        background-color: $secondary-color;
        border-radius: 15px 0px 0px 15px;
        color: white;
        padding-bottom: 1rem;
        .agenda-card-date-day {
          height: 80px;
          font-size: 4rem;
          display: inline-block;
        }
        .agenda-card-date-rest {
          display: inline-block;
          font-size: 15px;
          margin-left: 1rem;
        }
      }
      &-body {
        width: 65%;
        background-color: #f2f2f2;
        border-radius: 0px 15px 15px 0px;
        padding: 0.5rem 1rem;
        .agenda-card-text p {
          font-size: 0.9rem;
        }
        .agenda-card-location {
          margin-top: 2rem;
          i {
            color: $primary-color;
          }
          span {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  //Table
  .table {
    &-btnedit {
      border: 3px solid #999999;
      color: #999999;
      font-size: 14px;
      font-weight: 600;
      i {
        font-size: 0.9rem;
      }
    }
    &-btndetails {
      border-width: 3px;
      font-size: 14px;
      font-weight: 600;
    }
    &-trashicon {
      color: #999999;
    }
  }
}
